

body, canvas {
    height: 100%;
    margin: 0;
    background: black;
    color: green;
    font-family: 'Courier New', monospace;
    overflow: visible;
}

header {
    display: flex;
    flex-direction: row;
    animation: reverse 3s ease-out;

}


body img {
    margin: 0 auto;
    opacity:  40%;
    width: 120%;
    padding-top: 50px;
    animation: fadeOut 4s forwards;

}



canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5; /* Make the background effect more subtle */
}


@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

section {
    max-width: 50%;
    line-height: 2rem;
    margin: 0 auto;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 20px;
    animation: fadeIn 20s ease-out;
    padding: 10%;
}

#matrixHeader {
    text-align: center;
    font-size: 3em;
}

